.full-form {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin: 20px 15px 10px 15px;
	gap: 50px;
}

.form {
    background-color: #c1f288;
    border-radius: 20px;
    padding: 30px 40px;
    min-width: 350px;
}

.form > form {
	display: flex;
	flex-direction: column;
}

.form > form > button {
	align-self: flex-end;
}

.form > form > label {
	font-weight: 300;
	margin: 10px;
}

.form > form > input {
	max-width: 310px;
	margin: 2.5px 0 5px 10px;
	padding: 9px 12.5px;
	border: none;
	border-radius: 12.5px;
}
